<.header>
  New Control
  <:subtitle>Use this form to manage control records in your database.</:subtitle>
</.header>

<.control_form changeset={@changeset} action={~p"/controls"} />

<.back navigate={~p"/controls"}>Back to controls</.back>
