<.header>
  New Risk assessment
  <:subtitle>Use this form to manage risk_assessment records in your database.</:subtitle>
</.header>

<.risk_assessment_form changeset={@changeset} action={~p"/riskassessments"} />

<.back navigate={~p"/riskassessments"}>Back to riskassessments</.back>
