<.header>
  Risk assessment <%= @risk_assessment.id %>
  <:subtitle>This is a risk_assessment record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/riskassessments/#{@risk_assessment}/edit"}>
      <.button>Edit risk_assessment</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @risk_assessment.name %></:item>
  <:item title="Description"><%= @risk_assessment.description %></:item>
  <:item title="Start date"><%= @risk_assessment.start_date %></:item>
  <:item title="Due date"><%= @risk_assessment.due_date %></:item>
  <:item title="Precontrol impact"><%= @risk_assessment.precontrol_impact %></:item>
  <:item title="Precontrol likelihood"><%= @risk_assessment.precontrol_likelihood %></:item>
  <:item title="Precontrol risk"><%= @risk_assessment.precontrol_risk %></:item>
  <:item title="Postcontrol impact"><%= @risk_assessment.postcontrol_impact %></:item>
  <:item title="Postcontrol likelihood"><%= @risk_assessment.postcontrol_likelihood %></:item>
  <:item title="Postcontrol risk"><%= @risk_assessment.postcontrol_risk %></:item>
  <:item title="Consequences"><%= @risk_assessment.consequences %></:item>
</.list>


<.table id="items" rows={@items} row_click={&JS.navigate(~p"/items/#{&1}")}>
  <:col :let={item} label="ID"><%= item.id %></:col>
  <:col :let={item} label="Name"><%= item.name %></:col>
  <:col :let={item} label="Availability"><%= item.availablity %></:col>
  <:col :let={item} label="Confidentiality"><%= item.confidentiality %></:col>
  <:col :let={item} label="Integrity"><%= item.integrity %></:col>
  <:col :let={item} label="Value"><%= item.value %></:col>
</.table>


<.table id="threats" rows={@threats} row_click={&JS.navigate(~p"/threats/#{&1}")}>
  <:col :let={threat} label="ID"><%= threat.id %></:col>
  <:col :let={threat} label="Name"><%= threat.name %></:col>
  <:col :let={threat} label="Description"><%= threat.description %></:col>
</.table>

<.table id="controls" rows={@controls} row_click={&JS.navigate(~p"/controls/#{&1}")}>
  <:col :let={control} label="ID"><%= control.id %></:col>
  <:col :let={control} label="Name"><%= control.name %></:col>
  <:col :let={control} label="Description"><%= control.description %></:col>
</.table>

<.table id="vulnerabilities" rows={@vulnerabilities} row_click={&JS.navigate(~p"/vulnerabilities/#{&1}")}>
  <:col :let={vulnerability} label="ID"><%= vulnerability.id %></:col>
  <:col :let={vulnerability} label="Name"><%= vulnerability.name %></:col>
  <:col :let={vulnerability} label="Description"><%= vulnerability.description %></:col>
</.table>


<.back navigate={~p"/riskassessments"}>Back to riskassessments</.back>
