<.header>
  New Threat
  <:subtitle>Use this form to manage threat records in your database.</:subtitle>
</.header>

<.threat_form changeset={@changeset} action={~p"/threats"} />

<.back navigate={~p"/threats"}>Back to threats</.back>
