<.header>
  New Action
  <:subtitle>Use this form to manage action records in your database.</:subtitle>
</.header>

<.action_form changeset={@changeset} action={~p"/actions"} />

<.back navigate={~p"/actions"}>Back to actions</.back>
