<.header>
  New Asset  type
  <:subtitle>Use this form to manage asset__type records in your database.</:subtitle>
</.header>

<.asset__type_form changeset={@changeset} action={~p"/asset_types"} />

<.back navigate={~p"/asset_types"}>Back to asset_types</.back>
